body{
    background: #28243A;
}

.centerGrille {
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

area {
    cursor: pointer;
    position: absolute;
  }

.jouer-btn {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    padding: 8px 10px;
    color: black;
    background-color: #A9E5BB;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.centerVert {
    margin-top: 200px;
}

.pionB {
   height: 30px;
   width: 30px;
   background-color: white;
   border-radius: 50%; 
   margin-top: 30px;
   display: inline-block;
   justify-content: center;
   position: relative;

}

.pionN {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%; 
    margin-top: 20px;
    display: inline-block;
    justify-content: center;
    position: relative;
    border: 1px solid whitesmoke;
 }

 #pionsBlancs {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #pionsNoirs {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

@keyframes selectionner {
    to {outline: 2.5px solid #FF686B;}
}

.animationSelection {
    animation-name: selectionner;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
}

#indication {
    color: white;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    height: 35px;
}

#pnElimine1 {
    margin-left: 20px;
}

.option {
    background-color:#4E6E5D;
    display: flex;
    justify-content: right;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 25px;
    margin-bottom: 40px;
}

.option-btn {
    text-align: center;
    width: 100px;
    display: flex;
    padding: 8px 10px;
    color: black;
    text-align: center;
    background-color: #A9E5BB;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
}

.option-ecriture {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

#incompletude {
    color: #FF686B;
    text-align: center;
    margin-top: 50px;
}

